dotenv ".env"
source_up ".envrc"
OLLAMA_DEFAULT_MODEL=qwen3-vl

export BIG_USSY_PROXY_AUTH_TOKEN="REDACTED_SECRET"
export BIG_USSY_FEDERATION_SPOKE_TOKEN="REDACTED_SECRET"

export TESTING_PROXX_AUTH_TOKEN="REDACTED_SECRET"
export STAGING_PROXX_AUTH_TOKEN="REDACTED_SECRET"
export PROD_PROXX_AUTH_TOKEN="REDACTED_SECRET"

export BIG_USSY_FEDERATION_BASE_URL="https://federation.big.ussy.promethean.rest"
export TESTING_PROXX_BASE_URL="https://testing.proxx.ussy.promethean.rest"
export STAGING_PROXX_BASE_URL="https://staging.proxx.ussy.promethean.rest"
export PROD_PROXX_BASE_URL="https://prod.proxx.ussy.promethean.rest"
export LOCAL_PROXX_BASE_URL="http://localhost:8789"
